/* Footer */
*{
    font-family: 'Goudy';
}
.footer {
    background: linear-gradient(to bottom, #FFDE59, #FCB900); /* Match the gradient color */
    padding: 20px 0;
    color: black; /* Set text color to black */
    text-align: center;
    margin-top: auto;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    flex-wrap: wrap; /* Ensure it wraps on smaller screens */
}

.footer-logo img {
    max-height: 70px;
}

.footer-info, .footer-contact {
    text-align: left;
    color: black; /* Set text color to black */
}

.footer-info p, .footer-contact p {
    margin: 0 0 10px;
}

.footer-bottom {
    position: relative; /* Change this */
    padding: 10px 0;
    background-color: #222;
    font-size: 14px;
    color: #fefefe;
    text-align: center;
}

.footer-info p i, .footer-contact p i {
    margin-right: 8px; /* Add some space between icons and text */
    color: black; /* Set icon color to black */
}

.footer a {
    color: black; /* Set link color to black */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}