/* GOUDY OLD STYLE */
@font-face {
  font-family: 'Goudy Old Style';
  src: url('/fonts/Goudy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/* Carousel container with specific width and height */
#carousel-ust {
  border-radius: 16px;
  max-height:90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  }
  
.carousel-inner {
  margin-top:20px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px; /* Rounded corners for the carousel */
  object-position: center;
  overflow: auto;
  }
  
  .carousel-inner img {
    max-height: 500px; /* Set your desired height for the carousel images */
    object-fit: cover; /* Makes sure the image covers the entire area while maintaining aspect ratio */
    width: 100%; /* Ensures the image spans the width of the carousel */
  }
  
  /* Adjust the position of the carousel controls (arrows) */
  .carousel-control-prev,
  .carousel-control-next {
    margin-top:40px;
  }
  
  /* Optional: Style carousel indicators (dots) */
  .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.7); /* Lighter color for the dots */
  }
  
  .carousel-indicators .active {
    background-color: rgba(255, 255, 255, 1); /* Fully opaque color for the active dot */
  }
  
/* Texts */

h3 {
  font-family: 'Goudy Old Style', serif;
  text-transform: uppercase; 
}

/* Featured Books */
.featured-books {
    margin-top: 50px;
    text-align: left; 
}

.book-card {
    margin-bottom: 20px;
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.book-card p {
    margin-top: 10px;
}

.featured-books .btn {
    background-color: #ffc107;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
}

.featured-books .btn:hover {
    background-color: #e0a800;
}

#btn-view-cat {
  font-family: 'Goudy Old Style', serif;
  background: linear-gradient(to bottom, #FFDE59, #FCB900);
  border:none;
  padding: 0 auto;
  transition: 0.5s;

}

#btn-view-cat:hover {
    transition: 0.5s;
    color:#725b00;
}

/* Browse by Category */
.categories {
    margin-top: 50px;
    text-align: left;
}

.categories .btn {
    margin: 10px;
    color: #000;
    border-color: #ffc107;
    font-family: "Roboto Condensed", sans-serif;
}

.categories .btn:hover {
    background-color: #ffc107;
    color: #fff;
}

.cat-view {
  margin-bottom: 5%;
}


/* MY ACCOUNT BUTTON */

#navbarDropdown {
  color:black;
}

.dropdown-item {
  font-family: "Goudy Old Style", serif;
}

/* BOOK TITLE */

p {
  font-family: 'Roboto Condensed', sans-serif;
}

h5 {
  color:#FCB900;
  font-weight: bolder;
}