/* Base styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Sorts Mill Goudy', serif; 
}

.container-fluid {
    flex: 1; /* This makes the container take up the remaining space */
}

/* yellow sa taas */
.top-border {
    height: 5px;
    background: linear-gradient(to bottom, #FFDE59, #FCB900);
}

/* the white sa taas */
.navbar-custom {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

/* USTPH LOGO */
.navbar-brand {
    display: flex; 
    align-items: center; 
}

.navbar-logo {
    max-height: 60px; 
    margin-right: 100px; 
}

/* text title */
.navbar-brand .navbar-text {
    display: inline-block;
    color: #000000; 
    font-size: 16px;
    line-height: 1.2;
}

.navbar-nav {
    display: flex; 
  
}



/* the navbar yung itim */
.sub-navbar-custom {
    background-color: #000000; 
    padding: 0.5rem 1rem;
    border-radius: 16px;
    width: 90%;
    margin-left: 60px;
    display: flex; 
    justify-content: space-between; 
}

.sub-navbar-custom .nav-link {
    color: #ffdd00; 
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-right: 5px;
    border-radius: 5px;
}

.sub-navbar-custom .nav-link:hover {
    color: #FFD700; 
}

.sub-navbar-custom .nav-item.active .nav-link {
    color: #FFD700; 
}

/* Responsive Styles */

/* For devices with a minimum width of 475px */
@media (min-width: 475px) {
    .navbar-logo {
        max-height: 50px;
    }

    .navbar-brand .navbar-text {
        font-size: 14px;
        margin-left: 8px;
    }
}

/* For devices with a minimum width of 640px */
@media (min-width: 640px) {
    .navbar-logo {
        max-height: 55px;
    }

    .navbar-brand .navbar-text {
        font-size: 15px;
        margin-left: 9px;
    }
}

/* For devices with a minimum width of 768px */
@media (min-width: 768px) {
    .navbar-logo {
        max-height: 60px;
    }

    .navbar-brand .navbar-text {
        font-size: 16px;
        margin-left: 10px;
    }
}

/* For devices with a minimum width of 1024px */
@media (min-width: 1024px) {
    .navbar-logo {
        max-height: 65px;
    }

    .navbar-brand .navbar-text {
        font-size: 18px;
        margin-left: 12px;
    }
}

/* For devices with a minimum width of 1280px */
@media (min-width: 1280px) {
    .navbar-logo {
        max-height: 70px;
    }

    .navbar-brand .navbar-text {
        font-size: 20px;
        margin-left: 14px;
    }
}

/* For devices with a minimum width of 1536px */
@media (min-width: 1536px) {
    .navbar-logo {
        max-height: 75px;
    }

    .navbar-brand .navbar-text {
        font-size: 22px;
        margin-left: 16px;
    }
}