@font-face {
    font-family: 'Goudy Old Style';
    src: url('/fonts/Goudy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Base styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Goudy Old Style', serif;

}

body {
    font-family: 'Goudy Old Style', serif; 
}

.container-fluid {
    flex: 1; /* This makes the container take up the remaining space */
}

/* Yellow Border sa taas */
.top-border {
    height: 5px;
    background: linear-gradient(to bottom, #FFDE59, #FCB900);
}


/* Navbar container */
.navbar-custom {
    padding: 0.5rem 1rem;
    border-radius: 16px;
    width: 90%;
    margin: 0 auto; /* Center the navbar horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    font-family: 'Goudy Old Style', serif;
}

/* USTPH logo and text */
.navbar-ustph {
    display: flex;
    align-items: center;
    font-family: 'Goudy Old Style', serif;
    color: #000000;
    line-height: 1.5rem;
    margin-left: 10px;
    text-decoration: none;
}

.navbar-logo {
    max-height: 60px;
}

/* Text styling */
.navbar-text, .brand-title, .brand-subtitle {
    font-family: 'Goudy Old Style', serif;

    color: black;
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.brand-title {
    font-size: 0.8rem;
}

.brand-subtitle {
    font-size: 2rem;
}

/* Prevent text underline on hover */
.navbar-text:hover, .navbar-ustph:hover {
    text-decoration: none;
}

#navbarNav {
    font-family: 'Goudy Old Style', serif;
}

.navbar-nav {
    font-family: 'Goudy Old Style', serif;
    display: flex; 
}

/* BLACK NAVBAR */

.nav-item.active .nav-link {
    font-family: 'Goudy Old Style', serif;
    color: #FFD700 !important; /* Force the active link color to be yellow */
}

.sub-navbar-custom {
    font-family: 'Goudy Old Style', serif;
    background-color: #000000; 
    padding: 0.5rem 1rem;
    width: 90%;
    margin-left: 60px;
    display: flex; 
    border-radius: 15px;
    align-items: center; /* Align items vertically in the center */
    margin: 0 auto; /* Center the navbar horizontally */
    justify-content: space-between; 
}

.nav-link {
    font-family: 'Goudy Old Style', serif;
    padding: 0.5rem 1rem;
    margin-right: 15px;
}

.nav-link:hover {
    transition-duration: 0.6ms;
}

/* Welcome Section */
.welcome-section {
    text-align: left;
    background-color: #ebecf0;
    padding: 15px; 
    border-radius: 15px;
    width: 90%;
    margin: 0 auto; /* Center the navbar horizontally */
    margin-top: 10px;
}

.welcome-title {
    font-family: 'Goudy Old Style', serif;
    font-size: 32px;
    margin: 0px 0px 0px 10px;
}


/* Responsive Styles */

/* For devices with a minimum width of 475px */
@media (min-width: 475px) {
    .navbar-logo {
        max-height: 50px;
    }

    .navbar-brand .navbar-text {
        font-size: 14px;
        margin-left: 8px;
    }
}

/* For devices with a minimum width of 640px */
@media (min-width: 640px) {
    .navbar-logo {
        max-height: 55px;
    }

    .navbar-brand .navbar-text {
        font-size: 15px;
        margin-left: 9px;
    }
}

/* For devices with a minimum width of 768px */
@media (min-width: 768px) {
    .navbar-logo {
        max-height: 60px;
    }

    .navbar-brand .navbar-text {
        font-size: 16px;
        margin-left: 10px;
    }
}

